@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

ul {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.header {
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
    font-size: 46px;
    text-align: center;
}

.comment {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 150%;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

